html, body {
    height: 100%;
    min-height: 100%;
}
body {
    background: url(gfx/forest-background.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.text-white {
    color: #FFF;
}

.info-container {
    background: rgba(0,0,0,0.8);
    padding: 15px;
    max-width: 550px;
    margin: 0 auto;
    box-shadow: 0px 5px 9px -1px #000;
    margin-bottom: 100px;
}

h1 {
    padding-top: 100px;
    opacity: 0.8;
}

h3 {
    max-width: 850px;
    width: 100%;
    margin: 50px auto;
    opacity: 0.8;
}

.well {
    background: #000;
    border-color: #222;
}

.well p {
    opacity: 1;
    color: #666;
}

.well p b {
    color: #FFF;
}